.carousel
	margin: 82px 0
	&__inner
		width: 750px
		margin: 0 auto
		position: relative
.slick-prev	
	position: absolute
	font-size: 0
	width: 30px
	height: 50px
	background: url(../icons/i_arrow_left.png) 0 0 / 100% no-repeat
	z-index: 10
	top: 50%
	transform: translateY(-100%)
	left: -66px
.slick-next	
	position: absolute
	font-size: 0
	width: 30px
	height: 50px
	background: url(../icons/i_arrow_right.png) 0 0 / 100% no-repeat
	z-index: 10
	top: 50%
	transform: translateY(-100%)
	right: -66px
